.main{
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  color: white;
  align-items: center;
  padding: 40px;
}

.main-hero{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn{
  background-color: gold;
  outline: none;
  border-radius: 15px;
  // height: 48px;
  border: none;
  margin: 20px;
  padding: 20px;
  

  &:focus{
    outline: none;
  }
}

